body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6c63ff;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #6c63ff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #6c63ff;
    color: white;
}

.profile-pic {
    width: 150px;  /* Adjust size */
    height: 150px;
    border-radius: 50%; /* Makes it a circle */
    display: block;
    margin: 10px auto; /* Centers the image */
    border: 3px solid #007acc; /* Adds a border */
}

.cert-badge {
    width: 150px;  /* Adjust size */
    height: 150px;
    display: block;
    margin: 10px auto; /* Centers the image */
    border: 3px solid #007acc; /* Adds a border */ 
}


